<div class="tab-pane fade active show" id="children"> <!--children content-->
                    <div id='ul-container-3'>
                        <table class="table table-hover">

                            <thead class="table-info" >
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Children</th>
                                  <th scope="col">Birth date</th>
                                  <th scope="col">Grade</th>
                                  <th scope="col">Allergies</th>
                                  <th scope="col">Setting</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="table-light" >
                                    <th scope="row">653</th>
                                    <td>Ted</td>
                                    <td>23 jul 1980</td>
                                    <td>Infant</td>
                                    <td>Nut, Milk</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        
                            <tbody>
                                <tr  >
                                    <th scope="row">45</th>
                                    <td>Lissanra</td>
                                    <td>23 jul 2000</td>
                                    <td>Toddler</td>
                                    <td>None</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        
                            <tbody>
                                <tr class="table-light" >
                                    <th scope="row">67</th>
                                    <td>Garen</td>
                                    <td>23 jul 1997</td>
                                    <td>Pre-school</td>
                                    <td>animal fur</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>   
                </div>