 <br>
    <h1>Daycare customer</h1>
    <br>
    
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header"><h5>Summary of the list </h4></div>
        <div class="card-body">
          <p class="card-text">Welcome <span> [family name] </span> to the Daycare </p>
          <p class="card-text">There are <span> [number] </span> families and <span> [number] </span> children in Daycare customer list</p>
        </div>
    </div>

     <div class="card">
            <h1 class='card-header'>family list</h1> <!--dash board-->
            <ul class="nav nav-tabs">   <!--Nav-table-->
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#parent">parent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#children">child</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add">Add New</a>
                </li>
            </ul>

        <div id="myTabContent" class="tab-content"> <!--table content-->
                <div class="tab-pane fade active show" id="home">     <!--families content-->
                    <div id='ul-container-3'>
                        <table class="table table-hover">

                            <thead class="table-info" >
                                <tr>
                                  <th scope="col">Order</th>
                                  <th scope="col">Families</th>
                                  <th scope="col">Number of child</th>
                                  <th scope="col">Payment</th>
                                  <th scope="col">Setting</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="table-light" >
                                    <th scope="row">1st</th>
                                    <td>Mr Been</td>
                                    <td>Column content</td>
                                    <td><a href='#'>print bill</a></td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        
                            <tbody>
                                <tr  >
                                    <th scope="row">2nd</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>paid</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        
                            <tbody>
                                <tr class="table-light" >
                                    <th scope="row">3rd</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>                
                </div>
        </div>
    </div>
    