
<div class="tab-pane fade active show" id="parent">   <!--parent content-->
                    <div id='ul-container-3'>
                        <table class="table table-hover">

                            <thead class="table-info" >
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Parent</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Phone</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">Setting</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="table-light" >
                                    <th scope="row">435</th>
                                    <td>Mr A</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        
                            <tbody>
                                <tr  >
                                    <th scope="row">234</th>
                                    <td>Mrs B</td> 
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        
                            <tbody>
                                <tr class="table-light" >
                                    <th scope="row">123</th>
                                    <td>Ms C</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td class='text-align' >
                                        <div style='display: inline-flex; '>
                                            <div style="padding-right:40px; padding-top:4px">
                                                <a href='#'>
                                                    <i class="gg-pen"></i>
                                                </a>
                                            </div>
                                            <div><a href='#'><i class="gg-trash"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>   
                </div>