<div class="homepage">
    <h2>
        Welcome to the Boot Camp DayCare CRM.
    </h2>
    <p>
        Once you Login, or Signup, you will have access Add/Remove Families & Children, See an overview of all Children
        and be able to create and Download professional PDF invoces.
    </p>
    <h3><a href="/api/internal">Get Started!</a></h3>

</div>