<div class="form-group toast show" id='container-3'>
        <div class="card">
            <h1 class='card-header'>Invoice</h1>
            <div id='ul-container-3'>
            <ul class='list-group' >
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    Add
                </li>
                
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    View
                </li>  

                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    Remove
                </li>
                
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    Update
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    Send
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    Print
                </li>
            </ul>
            </div>
        </div>
    </div>
