<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>

    <div id='container-1' class="form-group toast show" style='padding:1rem'>
        <!-- <label class="col-form-label" for="inputDefault">Email</label>  -->
        <input id="email-login" type="text" class="form-control" placeholder="Email or Phone Number" >

        <!-- <label class="col-form-label" for="inputDefault">Password</label> -->
        <input id="password-login" type="text" class="form-control" placeholder="Password" >    

        <button type="button" class="login-form btn btn-primary btn-lg btn-block">Login</button>
        <div id='forgotpass'><a href='#'>Forgot password?</a></div>
        <div id='btn-1'>  
            <button type="button" class="btn btn-success" >Create New Account</button>
        </div>
    </div>

