
    <div id='container-1' class="form-group toast show" style='padding:1rem'>
        <!-- <label class="col-form-label" for="inputDefault">Email</label>  -->
        <input id="email-login" type="text" class="form-control" placeholder="Email or Phone Number" >

        <!-- <label class="col-form-label" for="inputDefault">Password</label> -->
        <input id="password-login" type="text" class="form-control" placeholder="Password" >    

        <button type="button" class="login-form btn btn-primary btn-lg btn-block">Login</button>
        <div id='forgotpass'><a href='#'>Forgot password?</a></div>
        <div id='btn-1'>  
            <button type="button" class="btn btn-success" >Create New Account</button>
        </div>
    </div>

