<div class="container">
    <div class="form-group show">
        <div class="card">
            <h1 class='card-header'>Child Profile</h1>
            <button class="btn btn-sm btn-primary" id="newChild">UPDATE</button>

            <div class="row">
                <div class="col" id='ul-container-3'>
                    <div class="col-4" id='ul-container-4'></div>
                    <h3>Child Info:</h3>

                    <div class="input-group">
                        <span class="input-group-text">First Name:</span>
                        <textarea class="form-control" id="familyChildEdit-first" aria-label="First Name"></textarea>

                        <span class="input-group-text">Last Name:</span>
                        <textarea class="form-control" id="familyChildEdit-last" aria-label="Last Name"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Birthdate:</span>
                        <input type="date" id="familyChildEdit-birth">


                        <label for="exampleFormControlSelect1">Age Group</label>
                        <select class="form-control" id="familyChildEdit-billing">
                            <option>infant</option>
                            <option>toddler</option>
                            <option>preschooler</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>


<span id="parentId" data-id="{{parent.id}}"></span>

<span id="updateParent"></span>
<span id="updateChild"></span>
<span id="newParent"></span>
<span id="deleteParent"></span>
<span id="deleteChild"></span>
<script src="/js/familyCRUD.js"></script>