<div class="row justify-content-center">
    <div class="col-md-6">

        <form method="Post" action="/register">
            <div class="input-group">
                <span class="input-group-text">First Name:</span>
                <textarea class="form-control" aria-label="First Name"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Last Name:</span>
                <textarea class="form-control" aria-label="Last Name"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Phone Number:</span>
                <textarea class="form-control" aria-label="Phone Number:"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Email Address:</span>
                <textarea class="form-control" aria-label="Email Address"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Street Address:</span>
                <textarea class="form-control" aria-label="Street Address"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">City:</span>
                <textarea class="form-control" aria-label="City"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">State:</span>
                <textarea class="form-control" aria-label="State"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Postal Code:</span>
                <textarea class="form-control" aria-label="Postal Code"></textarea>
            </div>
            {{!-- need to turn this into Add Child --}}
            <div class="input-group">
                <span class="input-group-text">First Name:</span>
                <textarea class="form-control" aria-label="First Name"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Last Name:</span>
                <textarea class="form-control" aria-label="Last Name"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Birthdate:</span>
                <textarea class="form-control" aria-label="Birthdate"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text">Age Group:</span>
                <textarea class="form-control" aria-label="Age Group"></textarea>
            </div>
        </form>
    </div>
</div>