
    <header id="overview" style="padding: 0.3rem 1rem 0rem 0rem;">
        <div class="span4 logo-container">
        <a href="./webdaycare.html"><img class="logo-img" alt="tam-logo" src="./pic/logo1.png"></a>
        </div>
        
    </header>

    <h2 class="align-center">Log In</h2>

 <!--registration-->
 <div id='container-2' class="form-group toast show" style='padding:1rem'>
    <form>
        <div id='close-container-2'>Close</div>  <!-- X icon would be great-->
        <fieldset >
            <leagend class='lead'>User Registration</leagend>    
            <small style='margin-bottom:1rem' id="emailHelp" class="form-text text-muted">Fast and easy</small>

            <div class='form-group row' style='border-top: 0.1px black solid; padding-top: 1rem;'>
                <div class="col-sm-10">
                    <input type="text" class="form-control list-group-item-action" id="userName-first" placeholder="First name">
                    <input type="text" class="form-control list-group-item-action" id="userName-last"  placeholder="Last name">
                    <input type="text" class="form-control list-group-item-action" id="address" placeholder="Address! Where is ur hood?">
                    
                                <!-- This one is for login information-->
                    <div>       <!-- Email  and password div-->                 
                        <input type="text" class="form-control list-group-item-action" id="contact" placeholder="Phone or Email">
                        <!-- this re-enter line should be Hover to appear after enter phone or email-->
                        <input type="text" class="form-control list-group-item-action" id="staticEmail" placeholder="Re-enter contact">  
                        <input type="text" class="form-control list-group-item-action" id="password" placeholder="New password">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else, maybe. Sign Up = agree our term! OK ?</small>
                    </div>
                </div>
            </div>
                <div id='btn-2'>
                    <a href='./webdaycare.html'>  <button style='margin-top:0.5rem; width:100%' type="button" class="btn btn-success" >Sign Up</button> </a>
                </div>
        </fieldset>
    </form>
</div>