#container-1 * {
  margin-bottom: 0.8rem;
}

.homepage {
  margin-top: 20%;
  text-align: center;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  font-family: cursive;
  font-size: 1.5em;
}

.body {
  font-family: cursive;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(/images/backgroundimagenokids.png);
}

h1 a {
  font-family: cursive;
  color: black;
}

h2 {
  font-family: cursive;
  text-align: center;
}

.familyProfile {
  font-size: 1.5em;
}

#btn-1 {
  margin-top: 0.5rem;
  padding-top: 0.8rem;
  text-align: center;
  border-top: 0.8px rgb(8, 5, 5) solid;
}

#btn-2 {
  text-align: center;
}
#container-2 * {
  margin-bottom: 0.6rem;
}

#close-container-2 {
  float: right;
}

#ul-container-3 {
  text-align: center;
  border: solid 1px black;
  border-radius: 30px;
  padding: 1rem;
  margin: 0% 2% 0% 2%;
}

#addChild {
  background-color: white;
}