<div id="myTabContent" class="tab-content"> <!--table content-->
                <div class="tab-pane fade active show" id="Profile">   <!--home content-->
                    <h3>User table</h3>
                    <p>role</p>
                    <p>name</p>
                    <p>user name</p>
                    <p>password</p>
                    <p>email</p>
                    <p>address</p>
                    <p>phone</p>

                </div>
            </div>